.accordion dd {
  border-bottom: 1px solid #ccc; }
  .accordion dd:last-of-type {
    border-bottom: 0; }
    .accordion dd:last-of-type .content {
      background: transparent;
      background-image: none !important; }
.accordion .content {
  padding-left: 50px !important;
  background: transparent url("../images/design/pathLead.png") 18px 0 repeat-y !important; }

.iconStep {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  font-size: 0.78571rem;
  font-weight: bold;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 21px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background: #fff;
  margin: -2px 10px 0 0; }
  .iconStep.active {
    background-color: #99d6c4; }

.formInfo p {
  font-size: .875em;
  line-height: 1.2em; }

.button.expand.white {
  background-color: white;
  color: #0078a0;
  text-decoration: underline; }

.margin-bottom-5 {
  margin-bottom: 5px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-bottom-25 {
  margin-bottom: 25px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-bottom-35 {
  margin-bottom: 35px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.margin-bottom-45 {
  margin-bottom: 45px !important; }

.hidden {
  display: none; }

.spinner {
  border: 1px solid #999;
  position: absolute;
  top: 25%;
  left: 50%;
  padding: 20px;
  margin-left: -12.5%;
  text-align: center;
  background-color: #fff; }
