# ISAPI Rewrite (global)

RewriteEngine on
RewriteBase /

RewriteRule ^/?$ /de/index.php [L]
RewriteRule ^fuer-aerzte/?$ /de/fuer-aerzte.php [L]
RewriteRule ^kurzdiagnose/?$ /de/kurzdiagnose.php [L]
RewriteRule ^demographische-daten/?$ /de/demographische-daten.php [L]
RewriteRule ^spenden/?$ spenden.asp [L]